@page "/addfriend"

<div class="container main-container step-6">
    <h6 class="text-center">Which of your friends reads the most newsletter ?</h6>
    <hr>
    <form>
        <p class="text-center"> Input their informations below</p>
        <div class="form-group mb-2">
            <input class="form-control" type="text" name="name" placeholder="Name">
        </div>
        <div class="form-group mb-2">
            <input class="form-control" type="text" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="tel" name="phone" placeholder="Phone">
        </div>

        <div class="form-group text-center">
            <a class="btn btn-primary m-2" href="/">Submit</a>
        </div>
        <div class="form-group text-center mt-3">
        </div>
    </form>
</div>

@code {

}
